{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1 class="my-4">{% trans "Users" %}</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>{% trans "Username" %}</th>
        <th>{% trans "Full name" %}</th>
        <th>{% trans "Date of creation" %}</th>
        <th></th>
    </tr>
    </thead>
    {% for user in users %}
    <tbody>
    <tr>
        <td>{{ user.pk }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user }} </td>
        <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
        <td>
            <a href="{% url 'update_user' user.pk %}">{% trans "Edit" %}</a>
            <br>
            <a href="{% url 'delete_user' user.pk %}">{% trans "Delete" %}</a>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}